@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DeliveryCart!</h1>
    <p>Create an account to get your groceries delivered right to do your door!</p>
</div>
